#Custom Commands
alias ll='ls -la '
alias lt='ls -ltr '
alias vi='vim'
alias rm='rm -i'
alias grepr='find . -type f -not -path '\''*.svn*'\'' | sed -e '\''s/^/"/'\'' | sed -e '\''s/$/"/'\'' | xargs grep --color=auto -ns'
